@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-grey-custom: rgb(25, 28, 38);
  --linear-primary: linear-gradient(90deg, rgb(87, 125, 222), rgb(166, 95, 236));
}

body {
  background-color: var(--dark-grey-custom);
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

/*==================== STYLES GENERAUX ==================== */

/* Texte couleur dégradée */
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Rendre le texte transparent */
  background-image: var(--linear-primary);
}

.icon-gradient {
  background-image: var(--linear-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* Séparation ligne liste */
.custom-ul li:not(:last-child) {
  border-bottom: 1px solid #888888;
}

.custom-ul-2 li:not(:last-child) {
  border-bottom: 1px solid #BBBEBD;
}

/* Texte avec couleur dégradée */
.text-linear {
  background-image: var(--linear-primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


/* Styles généraux des boutons  */
.button-hover, .button-hover2 {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-hover:hover {
  transform: translateY(-3px); /* Déplacement vers le haut de 3px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout de l'ombre */
}

.button-hover2:hover {
  transform: translateY(-3px); /* Déplacement vers le haut de 3px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.705); /* Ajout de l'ombre */
}


/* Style pour la scrollbar */
.podcastActu::-webkit-scrollbar {
  width: 7px; 
}

.podcastActu::-webkit-scrollbar-track {
  background-color: transparent; 
}

.podcastActu::-webkit-scrollbar-thumb {
  background-color: darkgrey; 
  border-radius: 8px; 
}


/* Styles pour la petite barre avant les sous-menus */
.barre {
  position: relative;
}

.barre::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  width: 20px;
  background-image: var(--linear-primary); /* Couleur de la barre horizontale */
}

/* Pour remplacer translate-x-0 de tailwind qui ne fonctionnait pas */
.translate0{
  transform: translateX(0%);
}

/* ==================== STYLES HEADER ==================== */


/* Styles de base du lien */
.menu-link {
  position: relative;
  text-decoration: none;
}

/* Effet de soulignement */
.menu-link::before {
  content: '';
  position: absolute;
  bottom: -4px; /* Ajustez ici l'espacement entre le texte et la ligne */
  left: 0;
  width: 0;
  height: 4px; /* Hauteur de la ligne */
  border-radius: 10px;
  background-image: var(--linear-primary);
  transition: width 0.2s ease-in-out;
}

/* Effet au survol */
.menu-link:hover::before {
  width: 100%; /* La ligne s'étend de gauche à droite */
}


/*==================== PAGE ACCUEIL ==================== */


/* Hero Area */
.hero-bg {
  height: 125vh;
}

.hero-desaturate {
  filter: saturate(23%)
}

/* Fond qui disparait au chargement de la page */
.hero-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 0;
  animation: transparent 5s;
}

@keyframes transparent {
  0%, 70%{
    background-color: var(--dark-grey-custom);
    z-index: 100;
  }
  100%{
    background-color: transparent;
    z-index: 0;
  }
}

/* Texte détouré */
.outline-text {
  margin: 0;
  padding: 0;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  letter-spacing: -2px;
}


@media screen and (min-width: 640px) {
  .outline-text{
    font-size: 80px;
    -webkit-text-stroke-width: 3px;
    letter-spacing: -4px;
  }
}

/*  Styles titres hero area */
.title-home{
  z-index: 100;
}

.title2-home{
  animation: title2 4.5s;
}

@keyframes title2 {
  0%, 50%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


/* Hauteurs section actualités */
.actuSm, .actuMd {
  min-height: 250px;
}

@media screen and (min-width: 640px) {
  .actuSm {
    min-height: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .actuMd {
    min-height: 300px;
  }
}


/* Hauteur section texte défilant */
.ecouter {
  height: 275px;
}

@media screen and (min-width: 640px) {
  .ecouter {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .ecouter {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .ecouter {
    height: 570px;
  }
}


/* === ANIMATIONS PAGE ACCUEIL === */

/* Animation pulse bouton écouter */
.pulse {
  animation: pulse 2s infinite;
}

.pulse2 {
  animation: pulse 2s 0.3s infinite;
}

.pulse3 {
  animation: pulse 2s 0.6s infinite;
}

/* .pulse:hover {
  animation: pulse 2s infinite;
}

.pulse2:hover {
  animation: pulse 2s 0.3s infinite;
}

.pulse3:hover {
  animation: pulse 2s 0.6s infinite;
} */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


/* Animation flèche découvrir */
.arow-hover .arow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arow-hover:hover .arow {
  animation: arow 1s infinite; /* Déplacement vers le haut de 3px */
}

@keyframes arow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* Animations des défilement de texte */
.txt-infinite1 {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(-150%);
  }

  100%{
    transform: translateX(-50%);
  }
}

.txt-infinite2 {
  white-space: nowrap;
  animation: scroll-inverse 10s linear infinite;
}

@keyframes scroll-inverse {
  0% {
    transform: translateX(-50%);
  }

  100%{
    transform: translateX(-150%);
  }
}


/* Animations du titre principal */

#logo path:nth-child(1) {
  stroke-dasharray: 284;
  stroke-dashoffset: 284;
  animation: line-anim 1s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 235;
  stroke-dashoffset: 235;
  animation: line-anim 1s ease forwards 0.1s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: line-anim 1s ease forwards 0.2s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 239;
  stroke-dashoffset: 239;
  animation: line-anim 1s ease forwards  0.3s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 333;
  stroke-dashoffset: 333;
  animation: line-anim 1s ease forwards 0.4s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 235;
  stroke-dashoffset: 235;
  animation: line-anim 1s ease forwards 0.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 1s ease forwards 0.6s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 1s ease forwards 0.7s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 266;
  stroke-dashoffset: 266;
  animation: line-anim 1s ease forwards 0.8s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 222.3302459716797;
  stroke-dashoffset: 222.3302459716797;
  animation: line-anim 1s ease forwards 0.9s;
}
#logo path:nth-child(11) {
  stroke-dasharray: 290.7951965332031;
  stroke-dashoffset: 290.7951965332031;
  animation: line-anim 1s ease forwards 1s;
}
#logo path:nth-child(12) {
  stroke-dasharray: 226.23133850097656;
  stroke-dashoffset: 226.23133850097656;
  animation: line-anim 1s ease forwards 1.1s;
}
#logo path:nth-child(13) {
  stroke-dasharray: 246.7880401611328;
  stroke-dashoffset: 246.7880401611328;
  animation: line-anim 1s ease forwards 1.2s;
}
#logo path:nth-child(14) {
  stroke-dasharray: 211.0591583251953;
  stroke-dashoffset: 211.0591583251953;
  animation: line-anim 1.3s ease forwards 1.3s;
}
#logo path:nth-child(15) {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  animation: line-anim 1.6s ease forwards 1.4s;
}
#logo path:nth-child(16) {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

/* ==================== PAGE A PROPOS ==================== */

.bg-gris-F1{
  background-color: #F1F1F1;
}

.border-card-team{
  border-bottom: solid 10px var(--dark-grey-custom);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


/* ==================== PAGE LISTE PODCASTS ==================== */

/* Grille des podcasts */
.podcasts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* .podcasts-grid {
  display: flex;
  flex-wrap: wrap;
} */


/*==================== PAGE DETAIL PODCAST ==================== */

/* Taille image entête à droite du lecteur */
.div-square {
  width: 55%;
  max-width: 350px;
}

.div-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


/* Bordure dégradée des timestamp */
.border-linear {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgb(87, 125, 222), rgb(166, 95, 236)) 1;
  border-radius: 30px;
}


/* Styles bouton play */
.LinkHover:hover .playButton {
  color: white;
  opacity: 100%;
  transition: 0.5s;
}
.LinkHover:hover .hover-effect {
  background-color: transparent;
  transition: background-color 300ms ease-in-out 50ms;
}

/* .LinkHover:hover {
  filter: grayscale(0.3);
} */

@media screen and (min-width: 1024px) {
  .podcast-social {
    width: 20%;
  }
  .podcast-main {
    width: 50%;
  }
  .podcast-people {
    width: 30%;
  }
  .podcast-void {
    width: 20%;
  }
  .podcast-comments {
    width: 50%;
  }
}


/*==================== PAGE CONTACT ==================== */

/* Animation flèche */
.arow-contact {
  animation: arow 1s infinite;
}

/*==================== PAGE ERREUR 404 ==================== */


/* Animations du 404 */

#erreur-404 svg{
  animation: fill 1s ease forwards 2.2s;
}

#erreur-404 path:nth-child(1) {
  stroke-dasharray: 484.3067321777344;
  stroke-dashoffset: 484.3067321777344;
  animation: line-anim 2s ease forwards ;
}
#erreur-404 path:nth-child(2) {
  stroke-dasharray: 507.5816955566406;
  stroke-dashoffset: 507.5816955566406;
  animation: line-anim 2.5s ease forwards 0.3s;
}
#erreur-404 path:nth-child(3) {
  stroke-dasharray: 484.30682373046875;
  stroke-dashoffset: 484.30682373046875;
  animation: line-anim 3s ease forwards 0.6s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from{
    fill: transparent;
  }
  to {
    fill: white;
  }
}
