.audioPlayer {
    --primary: rgb(87, 125, 222);
    --secondary: rgba(255, 255, 255, 0.7);
}

.forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.forwardBackward:hover {
    color: var(--primary);
}

.playPause {
    background: transparent;
    border: solid 4px var(--secondary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    font-size: 24px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playPause:hover {
   border: solid 7px rgba(255, 255, 255, 0.9);
   color: rgba(255, 255, 255, 0.9);
}

.play {
    position: relative;
    left: 3px;
}


.currentTime, .duration {
    font-size: 16px;
    padding: 0 10px;
}

.progressBar {
    --bar-bg: rgba(255, 255, 255, 0.5);
    --seek-before-width: 0;
    --seek-before-color: rgba(255, 255, 255, 0.5);
    --knobby: rgba(255, 255, 255);
    --selectedKnobby: linear-gradient(90deg, rgb(87, 125, 222), rgb(166, 95, 236));

    appearance: none;
    background: var(--bar-bg);
    position: relative;
    width: 170px;
    height: 11px;
    outline: none;
}

/* barre de progression - safari */
.progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

/* barre de progression - firefox */
.progressBar::-moz-range-track {
    background: var(--bar-bg);
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
}

.progressBar::-moz-focus-outer {
    border: 0;
}

/* barre de progression - chrome et safari*/
.progressBar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* barre de progression - firefox */
.progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 11px;
}

/* poignée barre de progression - chrome et safari */
.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

/* poignée sélectionnée - chrome et safari */
.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}

/* poignée - firefox */

.progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

/* poignée sélectionnée - firefox */
.progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
}


@media screen and (min-width: 640px) {
    .progressBar {
        width: 250px;
    }
}

@media screen and (min-width: 1024px) {
    .progressBar {
        width: 175px;
    }
}
@media screen and (min-width: 1280px) {
    .progressBar {
        width: 300px;
    }
}




@media screen and (min-width: 768px) {
    .playPause {
        border: solid 7px var(--secondary);
        width: 75px;
        height: 75px;
        font-size: 32px;
    }
    .currentTime, .duration {
        font-size: 20px;
    }
    .forwardBackward {
        font-size: 20px;
    }
}