.podcastSearch {
    max-height: 85vh;
    overflow-y: auto;
}

.scrollTitle {
    overflow: hidden;
}

  /* Style pour la scrollbar */
  .podcastSearch::-webkit-scrollbar {
    width: 7px; 
  }
  
  .podcastSearch::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  .podcastSearch::-webkit-scrollbar-thumb {
    background-color: darkgrey; 
    border-radius: 8px; 
  }