/* Donner une forme carré aux podcasts */
.squareCard:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Styles pour essayer de résoudre le problème de la taille des podcasts Page Podcasts, quand il n'y a qu'un seul podcast sélectionné dans la catégorie (pas très concluant) */

/* .squareCard {
    max-height: 700px;
    max-width: 700px;
} */

/* .squareCard {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .squareCard {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .squareCard {
        width: 33%;
    }
}

@media screen and (min-width: 1280px) {
    .squareCard {
        width: 25%;
    }
} */