/* Résoud le problème d'index du header avec l'animation de chargement de la page d'accueil */
.headerIndex {
    z-index: 150;
    animation: index 15s;
}
  
  @keyframes index {
    0%{
      z-index: 50;
    }
    100%{
      z-index: 150;
    }
  }