.footerGrid{
    display: grid;
    grid-template-columns: repeat(1fr);
}

.footerGrid > div, .footerGrid > ul {
    padding: 30px;
  }


@media screen and (min-width: 640px)  {
    .footerGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .footerGrid > div, .footerGrid > ul {
        padding: 40px;
      }
}

@media screen and (min-width: 1024px)  {
    .footerGrid{
        display: flex;
    }
}